a:link, a:visited{color: inherit;}
body{
	background: #333;
	font-family: 'homenaje', sans-serif;
	overflow: hidden;
}

header{
	width: 100%;
	background: #17bd61;
	color: #fff;
	margin: 0%;
	font-size: 1.25vw;
	position: fixed;
	top: 0;
	z-index: 999;

	}
	.logo{margin:1em 0;}
	nav{text-align:right;}
	nav ul{list-style:none;margin:0;}
	nav ul li{display:inline-block;}
	nav ul li a{
		line-height:4em;
		padding:0 1em;
		font-size: 1.25em;
		display:block;
		border-bottom: #17bd61 solid 5px;
		transition: border .2s;
	}
	nav ul li a:hover{border-bottom: #fff solid 5px;}
	nav ul li a[href="#"]{border-bottom: #fff solid 5px;}
footer{
	width: 100%;
	background: #17bd61;
	color: #fff;
	margin: 0%;
	height: 4em;
	position: fixed;
	bottom: 0;
	z-index: 888;
	}
	.copy,.footer-contato{
		line-height: 3.5em;
		font-size: 1.15em;
	}
	.footer-contato{text-align: right;}
	.facebook{
		float: right;
		line-height: 1.75em;
		position: absolute;
		font-size: 2.25em;
	}
	.facebook:hover{opacity: .8;}
.empresa{
	position: absolute !important;
	top: 13em;
	background: rgba(23,189,97,.8);
	color: #fff;
	}
	.title{font-size: 2.5em;}
	.text{font-size: 1.25em;}
.slide1,.slide2,.slide3{height:80vh; background-size: cover;}